/* --------- Defaults ---------*/

body,
ul,
li,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    list-style-type: none;
    padding: 0 10px;
}

a,
i {
    text-decoration: none;
    color: #888;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}


/* --------- Header --------- */

header {
    display: flex;
    height: 10vh;
}

header a {
    color: #333;
}

header ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}

header img {
    width: 100px;
    height: auto;
}

header #logo {
    grid-column: 1 / 2;
}

header #back_to_main {
    grid-column: 2 / 3;
    justify-self: end;
}


/* --------- Main ------- */

section {
    height: 75vh;
}


/* -------- Google Image ------- */

.image_container {
    display: flex;
    justify-content: center;
}

.image_container img {
    width: 100%;
    max-width: 271px;
    padding-top: 109px;
}


/* ------  Search Bar ----------*/

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar input {
    outline: none;
    font-size: 16px;
    width: 400px;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding-left: 50px;
    margin: 30px 0;
}

.search_bar>input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search_bar i {
    width: 50px;
    position: relative;
    left: 68px;
}


/* ------------ Search Buttons --------*/

.search_buttons {
    display: flex;
    justify-content: center;
}

.search_buttons input {
    color: #5F6368;
    border: 1px solid #f2f2f2;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
}

.search_buttons>input:hover {
    color: #222;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}


/* ------------ Footer -------- */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #f7f7f7;
    padding: 20px 1.5em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    height: 75vh;
    padding: 0 40px;
}

.container form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 200px 1fr;
    grid-template-areas: "h3 ." "label1 input1" "label2 input2" "label3 input3" "label4 input4" ". button";
    align-items: center;
    justify-items: stretch;
}

h2 {
    color: #d93025;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

h3 {
    font-size: 16px;
    grid-area: h3;
    font-weight: 400;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.label_item1 {
    grid-area: label1;
}

.input_item1 {
    grid-area: input1;
}

.label_item2 {
    grid-area: label2;
}

.input_item2 {
    grid-area: input2;
}

.label_item3 {
    grid-area: label3;
}

.input_item3 {
    grid-area: input3;
}

.label_item4 {
    grid-area: label4;
}

.input_item4 {
    grid-area: input4;
}

.button {
    grid-area: button;
    justify-self: end;
    margin-top: 5px;
}

.button>input {
    color: #eee;
    border: 1px solid #aaa;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #4d90fe;
    width: 120px;
    height: 30px;
}


/* -------- Google Image ------- */

.image_container {
    display: flex;
    justify-content: center;
}

.image_container img {
    width: 100%;
    max-width: 271px;
    padding-top: 109px;
}

.image_container span {
    color: #4285f4;
    margin-left: -50px;
    align-self: flex-end;
    font-size: 16px;
}